.col-form-label{
    padding: 5px !important;
}
.container-header{
    background-color: rgba(71, 43, 235, 0.5) !important;
}
.container-card{
    height: 550px;
    background-color: rgba(71, 43, 235, 0.5) !important;
}
.container-card>.card-body{
    overflow-y: scroll;
}
.page-name{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#inventoryTable>thead{
    background: rgba(13, 3, 73, 0.5)
}
#inventoryTable>tbody>tr:hover{
    background: rgba(5, 221, 34, 0.5)
}
.addPR{
    color: rgb(18, 247, 18);
    padding: 5px;
}
.addPR:hover{
    background: rgb(2, 2, 68);
    border: 1px solid cyan;
    color: white;
    text-decoration: none
}
.addPPMP{
    color: cyan;
    padding: 5px;
}
.addPPMP:hover{
    background: rgb(2, 2, 68);
    border: 1px solid cyan;
    color: white;
    text-decoration: none
}
#prno{
    color: lime;
}